//Styles for the home.phps template

.introduction{
    padding:2em;
}

body{
	border-style: black solid 2px;
	border-radius:25px;
	/*background-color: #468499;*/
	background-image:url(../img/background.jpg);
	margin-top:10px;

}

div{
	background-color:#ECF2F4;
	padding:20px;
}